<!doctype html>
<html>
<head>
    <script src="jquery-3.2.1.js"></script>
    <script>
        function openLSD() {
            $.get( "http://150.165.85.10/openconnection");
        }
    </script>
</head>
<body>

<div align="center">

    <iframe width="420" height="345" src="https://www.youtube.com/embed/pD7LQo0rTGA">
    </iframe>

    <p>Click the button to open the door.</p>

    <button onclick="openLSD()">Open</button>

</div>

<p id="demo"></p>

{% from "_formhelpers.html" import render_field %}

<h1>Present users:</h1>
{% for user in form.users %}
  <dl>
    {{user}}
  </dl>
{% endfor %}

<h1>Register User MAC</h1>
<dl>{{form.msg}}</dl>
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.mac) }}
  </dl>
  <p><input type=submit value=Register>
</form>

</body>
</html>

