<!doctype html>
<html>
<head>
    <script src="jquery-3.2.1.js"></script>
    <script>
        function openLSD() {
            $.get( "http://10.30.0.123/openconnection");
        }

        $(function() {
            var intervalMS = 5000; // 5 seconds
            setInterval(function() {
                $("#dynamicImage").prop("src", "http://10.30.0.123/currentimage?lixo="+Math.random());
            }, intervalMS);
        });
    </script>
</head>
<body>

<div align="center">

    <img id="dynamicImage" class="dynamicImage", src="http://10.30.0.123/currentimage">

    <p>Click the button to open the door.</p>

    <button onclick="openLSD()">Open</button>

</div>

<p id="demo"></p>

{% from "_formhelpers.html" import render_field %}

<h1>Present users:</h1>
{% for user in form.users %}
  <dl>
    {{user}}
  </dl>
{% endfor %}

<h1>Register User MAC</h1>
<dl>{{form.msg}}</dl>
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.mac) }}
  </dl>
  <p><input type=submit value=Register>
</form>

</body>
</html>

